.dropdown {
  position: relative;
  display: inline-block;
}

.trigger {
  font: inherit;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  color: var(--gray-900);
  padding: 6px 16px;
  border: 1px solid var(--gray-300);
  border-radius: 6px;
  background-color: var(--white);
  display: flex;
  align-items: center;
}

.menu {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  background: white;
  border: 1px solid var(--gray-300);
  border-radius: 8px;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.08);
  z-index: 20;
  cursor: pointer;

  opacity: 0;
  transition: opacity 0.5s ease;
}

.menu-active {
  opacity: 1;
}

.dropdown.dark-theme {
  color: var(--text-color-dark);

  .trigger {
    background-color: rgba(0, 0, 0, 0);
  }
  .menu {
    background: var(--background-color-dark);
  }
}
