@import "../../styles/common.scss";

.container {
  padding: 28px 24px 24px 24px;
  width: 384px;
  height: 280px;
  border-radius: 16px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 8%);
  background-color: #fff;
  transform: scale(1);
  transition: 0.3s;

  &:hover {
    transform: scale(1.05);
    transition: 0.3s;
  }

  .profile-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    width: 100%;
    border-bottom: 1px solid #eeeeee;

    & > div {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 14px;

      .profile-img {
        width: 56px;
        height: 56px;
        border-radius: 100px;
        border: 1px solid #eee;
      }

      .profile-name {
        width: 200px;
        font-size: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        & > span {
          font-weight: 700;
        }
      }
    }

    .delete-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      width: 40px;
      height: 40px;
      border: 1px solid var(--gray-300);
      border-radius: 6px;
      background-color: var(--white);
      cursor: pointer;
    }
  }

  .description {
    margin-top: 16px;
    height: 106px;
    overflow: hidden;
    @include font_regular_18;
    line-height: 28px;
    letter-spacing: -1%;
    color: var(--gray-600);
  }

  .date {
    margin-top: 16px;
    @include font_regular_12;
    line-height: 18px;
    letter-spacing: -0.5%;
    color: var(--gray-400);
  }
}

@media screen and (min-width: 1248px) {
}

@media screen and (min-width: 768px) and (max-width: 1247px) {
  .container {
    width: 100%;
    height: 284px;

    .description {
      margin-top: 16px;
      height: 110px;
      overflow: hidden;
      @include font_regular_18;
      line-height: 28px;
      letter-spacing: -1%;
      color: var(--gray-600);
    }
  }
}

@media screen and (min-width: 365px) and (max-width: 767px) {
  .container {
    width: 100%;
    height: 230px;

    .profile-wrap {
      & > div {
        .profile-name {
          @include font_regular_18;

          & > span {
            @include font_bold_16;
          }
        }
      }
    }

    .description {
      margin-top: 16px;
      height: 56px;
      overflow: hidden;
      @include font_regular_15;
      line-height: 25px;
      letter-spacing: -1%;
      color: var(--gray-600);
    }
  }
}
