.trigger:hover {
  background-color: var(--gray-100);
}

.add-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.emoji-button:hover {
  background-color: rgba(0, 0, 0, 0.47);
}

.add-container.dark-theme {
  .image {
    filter: invert(100%) brightness(200%);
  }

  .text {
    color: var(--background-color-light);
  }
}

.dark-theme.trigger:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
