.trigger {
  border: none;
  padding: 6px;
}

.trigger:hover {
  background-color: var(--gray-100);
}

.emoji-container {
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px 8px;
}
