@import "../../../../styles/common.scss";

.drop-down {
  width: 320px;
  position: relative;
  .drop-down-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 320px;
    height: 50px;
    padding: 12px 16px;
    border: 1px solid var(--gray-300);
    border-radius: 8px;
    background: transparent;
    color: var(--gray-500);
    @include font-regular-16;
    cursor: pointer;
    transition: 0.4s;
    &.open {
      border: 1px solid var(--gray-500);
    }
    &:hover {
      border: 1px solid var(--gray-500);
      color: var(--gray-900);
    }
    .up-arrow-icon {
      rotate: -180deg;
      transition: 0.6s;
    }
    .down-arrow-icon {
      rotate: 0deg;
      transition: 0.6s;
    }
  }
  .drop-down-list {
    position: absolute;
    z-index: 1;
    li {
      display: flex;
      align-items: center;
      width: 320px;
      height: 50px;
      padding: 12px 16px;
      background-color: var(--white);
      border: 1px solid var(--gray-300);
      border-top: none;
      border-bottom: none;
      color: var(--gray-900);
      cursor: pointer;
      transition: 0.6s;
      &:hover {
        background-color: var(--gray-100);
      }
    }
    li:first-child {
      margin-top: 2px;
      border: 1px solid var(--gray-300);
      border-radius: 8px 8px 0 0;
      border-bottom: none;
    }
    li:last-child {
      border: 1px solid var(--gray-300);
      border-radius: 0 0 8px 8px;
      border-top: none;
    }
  }
}

.notoSans {
  font-family: "Noto Sans KR", sans-serif;
}
.nanumMyeongjo {
  font-family: "나눔명조";
}
.handletter {
  font-family: "Handletter";
}

.slide-fade-in-dropdown {
  overflow: hidden;
}

.slide-fade-in-dropdown > ul {
  animation: slide-fade-in-dropdown-animation 0.6s ease;
}

.slide-fade-out-dropdown {
  overflow: hidden;
}

.slide-fade-out-dropdown > ul {
  animation: slide-fade-out-dropdown-animation 0.6s ease;
  animation-fill-mode: forwards;
}

@keyframes slide-fade-in-dropdown-animation {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-fade-out-dropdown-animation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}
