.ql-size-huge {
  font-size: 1.5em;
}
.ql-size-large {
  font-size: 1.3em;
}
.ql-size-small {
  font-size: 0.8em;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
u {
  text-decoration: underline;
}
s {
  text-decoration: line-through;
}
