/* styles.module.css */
.emoji-container {
  /* display: flex;
  align-items: center;
  gap: 8px;
  cursor: default; */

  /* 그라데이션 설정 */
  /* background: linear-gradient(45deg, #ff7b7b, #42e695, #4d7aff, #ff7b7b);
  background-size: 400% 400%; */
  /* 애니메이션 적용 */
  /* animation: gradientAnimation 10s ease infinite; */
}

/* .emoji-container .emoji-button {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: var(--white);
  width: 66px;
  height: 36px;
  background-color: rgba(0, 0, 0, 0.54);
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
} */

.emoji-container .emoji-button .emoji {
  z-index: 1;
  /* white-space: nowrap; */
}

@media (max-width: 760px) {
  /* .emoji-container .emoji-button {
    width: 53px;
    height: 28px;
  } */
}

.emoji-container .emoji-button:hover {
  background-color: #00000078;
}

/* .gradient-background {
  width: 200px;
  height: 200px;
  background: linear-gradient(45deg, #ff7b7b, #42e695, #4d7aff, #ff7b7b);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
