.quill {
  .ql-toolbar {
    border-radius: 8px 8px 0 0;
  }
  .ql-container {
    width: 100%;
    height: 230px;
    border-radius: 0 0 8px 8px;
    font-family: "Pretendard Variable", Pretendard, -apple-system,
      BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
      "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  }
  .ql-container strong {
    font-weight: bold;
  }
  .ql-container em {
    font-style: italic;
  }
  .ql-container u {
    text-decoration: underline;
  }
  .ql-container s {
    text-decoration: line-through;
  }
}

.quill.dark {
  .ql-picker {
    color: var(--text-color-dark);
  }
  .ql-stroke {
    stroke: var(--text-color-dark);
  }
  .ql-fill {
    fill: var(--text-color-dark);
  }
  .ql-picker-item {
    color: var(--text-color-dark);
  }
  .ql-picker-options {
    background-color: var(--background-color-dark);
  }
  .ql-container {
    color: var(--text-color-dark);
  }
}
